@model IEnumerable<Razzil.DataAccess.Repository.Account>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdatedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DailyLimit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PerTransactionMax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PerTransactionMin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountGroup.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bank.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserRole.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserRole1.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User1.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdatedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DailyLimit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PerTransactionMax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PerTransactionMin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountGroup.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bank.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserRole.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserRole1.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User1.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
