@model Razzil.DataAccess.Repository.BankGroup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BankGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserRole.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserRole.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserRole1.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserRole1.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User1.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User1.Password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
